.gradle/
.idea/
**/*.iml
build/
**/build/
out/
**/out/
**/.gradle/
**/.idea/
**/*.lock
**/.java-version
*.jar
*.war
*.ear
**/*.jar
**/*.war
**/*.ear
**/.env
**/.envrc
**/.credentials
**/target/
env.sh
.credentials
micros.env
yarn-mutex.lock
*.log

**/.nebulae

**/.docker

__pycache__/

.DS_Store

#Eclipse files
*.project
*.prefs
*.classpath